@media (max-width: 1320px) {
  .comments {
    .card {
      width: 250px;
      height: 350px;
      .perfil {
        width: 200px;
      }

      .description {
        width: 200px;
      }
    }
  }
}

@media (max-width: 1150px) {
  .section-layout {
    margin-top: 150px;
    justify-content: center;

    .title-reviews {
      flex-direction: column;
      justify-content: center;
      .reviews {
        .evaluation {
          right: 0px;
        }

        .report {
          right: 0px;
        }
      }
    }
  }
  
  .comments {
    .card {
      top: 150px;
    }
  }

  .attribution {
    margin: 150px 0px;
  }
}

@media (max-width: 950px) {

  .container{
    background-size: 300px;
    
    .attribution {
      position: relative;
      top: 600px;
    }
  }
  .section-layout {
    .title-reviews {
      width: 100%;

      justify-content: center;
      .title {
        width: 440px;

        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          width: 300px;
        }
      }
    }
  }
  .comments {
    flex-direction: column;
    align-items: center;

   

    .card {
      width: 300px;
      height: 280px;

      margin-bottom: 50px;

      align-items: center;
    }
  }

  
}


@media (max-width: 750px) {
  .comments {
    display: flex;
    
  }
}

@media (max-width: 480px) {
  .comments{
    margin-top: -80px;
  }
  .section-layout {
    margin-top: 20px;
    .title-reviews {
      .title{
        h1 {
          font-size: 30px;
        }

        p{
          font-size: 10px;
        }

      }
      .reviews{
        height: 300px;

        .review {
          height: 30px;
          padding: 0 5px;

          margin-bottom: 20px;

          p {
            font-size: 10px;
          }

          img {
            height: 10px;
          }
        }
      }
    }
  }
}
